.firstrow {
    min-height: 40vh;
    background-image: url("/Assets/Images/kingsaltlogo.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #502D7F;
}
.secondrow {
    background-color: #c4ced3; 
    min-height: 45vh;
}
.thirdrow{
    background-color: #502D7F;
    min-height: 48vh;
    border-bottom: 2pt solid black;
}
.gmap {
    min-height: 40vh;

}
.footer {
    background-color: black;
    min-height: 10vh;
}
.round-button {
    border-radius: 10%;
}
.textshadow {
    color: #c4ced3;
    text-shadow: 1px 1px 4px black;    
    font-size: 17px;
}
.topspace {
    padding-top: 10vh;
}
.iconsize {
    font-size: 10rem;
    padding: 5px 0px 0px 0px;
}
.iconsize:hover {
    color: #502D7F;
}

.bigtext {
    font-size: 2rem;
    padding: 5px;
}
.outline {
    outline: 2pt solid black;
}
.textcenter {
    text-align: center;
}
.hatroom {
    padding-top: 2vh;
}
.whiteicon {
    color: #c4ced3;
    font-size: 3rem;
    margin: 5px 1rem;
    text-align: center;
}
.nopad {
    padding: 0%;
}
button {
    cursor: pointer;
}
.whiteicon:hover {
    color: #502D7F
}